//- FIRST PAGE: SHOWS A FORM WHERE PEOPLE CAN ADD A NEW MESSAGE -//

html
    head
        link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(type='text/css', rel='stylesheet', href='css/materialize.min.css', media='screen,projection')

        title bulletin board
    body

        nav
          .nav-wrapper
            a.brand-logo Bulletin Board Application
            ul#nav-mobile.right.hide-on-med-and-down
              li
                a(href='/') WRITE MESSAGE
              li
                a(href='/messageboard') MESSAGEBOARD

        //- FORM
        h1 Write message

        form(action='/newmessage' method='post')
            p
                label(for='title') Title:
                input(type='text', placeholder='type your title here...', name='newTitle')
            p
                label(for='body') Body:
                input(type='text', placeholder='type your message here...', name='newBody')
                br
                button(type='submit') Post message now

        //- IMPORT JS
        script(src='js/jquery-3.1.1.js')
        script(type='text/javascript', src='js/materialize.min.js')