//- SECOND PAGE: SHOWS EACH OF THE MESSAGES PEOPLE HAVE POSTED -//
html
	head
		title post message
	body

		//- NAV BAR
		nav
			a BULLETIN BOARD APPLICATION
			ul
				li 
					a(href='/newmessage') POST MESSAGE
				li
					a(href='/messageboard') MESSAGEBOARD

		//- MESSAGE BOARD
		h1 Results

		each key in allMessages
			p Title: #{key.title}
			p Body: #{key.body}

		//- IMPORT JS
		script(src='js/jquery-3.1.1.js')
			script.
				console.log(messageboard)